DoH URI Template construction 

The DoH URI Template algorithm currently works like so:

```
... clients MAY construct a DNS over HTTPS URI Template as follows:
   1.  Let $HOST be the authentication name encoded as a "host" value ([Section 3.2.2 of [RFC3986]](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2)).
   2.  Let $PORT be the port from the "port" key if present, otherwise 443.  (The binding authority's port number MUST NOT be used.)
   3.  Let $DOHPATH be the "dohpath" value, decoded from UTF-8.
   4.  The DNS over HTTPS URI Template is "https://$HOST:$PORT$DOHPATH".
```

where $DOHPATH is "a URI Template [[RFC6570](https://datatracker.ietf.org/doc/html/rfc6570)] encoded in UTF-8 [[RFC3629](https://datatracker.ietf.org/doc/html/rfc3629)]."

This seems not restrictive enough. For example, a valid $DOHPATH template could be "https://dnsserver.example.net/dns-query{?dns}," and following the algorithm above would yield "https://dnsserver.example.net:443https://dnsserver.example.net/dns-query{?dns}," which obviously seems like not the intended result. 

There's text that says "The "dohpath" value MUST be chosen such that the resulting URI Template is valid for use with DNS over HTTPS," but note that the algorithm above is presented with the word MAY which, to me, implies that clients could construct the URI Template some other way. 

Unless there's a good reason to do so, we should be more restrictive with what $DOHPATH contains (it might be just a path component of a URI Template, or something), and how clients construct the Template. 