dohpath is a URI Template

Section 5.1 says this:

> "dohpath" is a single-valued SvcParamKey whose value (both in presentation and wire format) MUST be a URI Template [[RFC6570](https://datatracker.ietf.org/doc/html/rfc6570)] encoded in UTF-8 [[RFC3629](https://datatracker.ietf.org/doc/html/rfc3629)].

The examples are all like this:

>       _dns.doh.example. 7200 IN SVCB 1 doh.example. ( alpn=h2 dohpath=/dns-query{?dns} )

RFC 6570 says this:

>    A URI Template may be provided in absolute form, as in the examples above, or in relative form.  A template is expanded before the resulting reference is resolved from relative to absolute form.

I assume that we don't want `dohpath=https://doh.example/dns-query{?dns}` passed in the SVCB record. Should we clarify that `dohpath` MUST be in relative form, i.e., just the path portion of the URI?

As a normative matter, I think this is already settled in the text, but I'm happy to improve clarity of the description.

Yeah, I think this technically covers it (`result after DoH template expansion Section 6 of RFC8484 is always a valid and functional ":path" value`), but it would be nice to say something at the start of the paragraph to specify that this is just a path segment of the URL.